

<form class="form-horizontal">
	  <h2>Dados do Produto</h2>
	  
    <table class="table table-striped table-bordered" cellspacing="0" width="50%">
        <thead>
               </thead>
        <tbody>
            <tr>
                <td>ID </td>
                <td> {{produto.idproduto}}</td>
                            </tr>
                            <tr>
                <td>Nome </td>
                <td> {{produto.nome}}</td>
                            </tr>
                               <tr>
                <td>Nome </td>
                <td> {{produto.preco}}</td>
                            </tr>
                            
                            
        </tbody>
    </table>
       <a class="btn btn-default" href="/produtos">Voltar</a>

 </form>